%pre
#!/bin/sh
VAR1=$(dmidecode --string chassis-type)
case "$VAR1" in
        Notebook|Portable|Portable|'Hand Held'|'Sub Notebook'|'Lunch Box'|'Other')
		echo "%packages" > /tmp/packages.ks
			echo "@^workstation-product-environment" >> /tmp/packages.ks
				echo "@container-management" >> /tmp/packages.ks
					echo "@gnome-apps" >> /tmp/packages.ks
						echo "@internet-applications" >> /tmp/packages.ks
							echo "kexec-tools" >> /tmp/packages.ks
								echo "libreoffice-writer" >> /tmp/packages.ks
									echo "libreoffice-impress"  >> /tmp/packages.ks
										echo "libreoffice-calc" >> /tmp/packages.ks
											echo "tlp" >> /tmp/packages.ks
												echo "-cockpit" >> /tmp/packages.ks
	;;
	*)echo "%packages" > /tmp/packages.ks
			echo "@^workstation-product-environment" >> /tmp/packages.ks
				echo "@container-management" >> /tmp/packages.ks
					echo "@gnome-apps" >> /tmp/packages.ks
						echo "@internet-applications" >> /tmp/packages.ks
							echo "kexec-tools" >> /tmp/packages.ks
								echo "libreoffice-writer" >> /tmp/packages.ks
									echo "libreoffice-impress"  >> /tmp/packages.ks
										echo "libreoffice-calc" >> /tmp/packages.ks
											echo "-cockpit" >> /tmp/packages.ks
	;;
esac
echo "%end" >>/tmp/packages.ks
%end
firstboot --enable
#Repos
url --url=file:///run/install/repo/BaseOS
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
repo --name="tlp" --baseurl=file:///run/install/repo/tlp
#Root account disabled
rootpw --lock
%include '/tmp/packages.ks'
# Autopartiton
autopart
# Partition clearing information
clearpart --none --initlabel
%post --nochroot
# Desktop sessions given more human readable names
cd /mnt/sysimage/usr/share/xsessions/
rm -f com.redhat.Kiosk.desktop gnome-custom-session.desktop xinit-compat.desktop
sed -i '12s/.*/Name=Gnome Classic on Xorg/' gnome-classic.desktop
sed -i '12s/.*/Name=Gnome on Xorg/' gnome.desktop
sed -i '12s/.*/Name=Gnome on Xorg/' gnome-xorg.desktop
cd /mnt/sysimage/usr/share/wayland-sessions
sed -i '12s/.*/Name=Gnome Classic/' gnome-classic-wayland.desktop
sed -i '12s/.*/Name=Gnome/' gnome.desktop
# Disable power-profiles-daemon and enable TLP if installed 
systemctl disable power-profiles-daemon.service
cd /mnt/sysimage/etc/systemd/system
rm -rf power-profiles-daemon.service
ln -sf /dev/null power-profiles-daemon.service
cd /mnt/sysimage/etc/systemd/system/multi-user.target.wants
ln -s /usr/lib/systemd/system/tlp.service tlp.service
# Setup Saincheaptha custom Firewall 
cp /run/install/repo/firewalld-workstation.conf /mnt/sysimage/etc/firewalld/
cp /run/install/repo/Saincheaptha.xml /mnt/sysimage/etc/firewalld/zones/
cd /mnt/sysimage/etc/firewalld
rm -f firewalld.conf
ln -sf /etc/firewalld/firewalld-workstation.conf firewalld.conf
#Enable EPEL with firstboot.service
cp /run/install/repo/firstboot.sh /mnt/sysimage/usr/local/bin/
chmod u+x /mnt/sysimage/usr/local/bin/firstboot.sh
cp /run/install/repo/firstboot.service /mnt/sysimage/etc/systemd/system/
cd /mnt/sysimage/etc/systemd/system/multi-user.target.wants/
ln -s /etc/systemd/system/firstboot.service firstboot.service
%end
